<footer class="footer">
    <div class="container">
        <div class="footer__container">
            <div class="footer__logo">Ubricum</div>
            <div class="footer__content">
                <div class="footer__minilogo">
                    <a href="">
                        <picture>
                            <source media="(max-width: 640px)"
                                    srcset="assets/images/logo-mobile.svg">
                            <img src="assets/images/logo.svg" alt="footer_logo">
                        </picture>
                    </a>
                </div>
                <div class="footer__contacts">
                    <div class="footer__phone">
                        <a href="tel:+79128240444" target="_blank">+7 (912) 824-04-44</a>
                    </div>
                    <div class="footer__email">
                        <a href="mailto:smosunov@kserv.pro" target="_blank">
                            smosunov@kserv.pro
                        </a>
                    </div>
                    <div class="footer__markets">
                        <ul class="markets">
                            <li class="market">
                                <a href="">
                                    <picture>
                                        <source media="(max-width: 640px)"
                                                srcset="assets/images/icons/oz-mini.svg">
                                        <img src="assets/images/icons/oz.svg" alt="market_icon">
                                    </picture>
                                </a>
                            </li>
                            <li class="market">
                                <a href="">
                                    <picture>
                                        <source media="(max-width: 640px)"
                                                srcset="assets/images/icons/wb-mini.svg">
                                        <img src="assets/images/icons/wb.svg" alt="market_icon">
                                    </picture>
                                </a>
                            </li>
                            <li class="market">
                                <a href="">
                                    <picture>
                                        <source media="(max-width: 640px)"
                                                srcset="assets/images/icons/ym-mini.svg">
                                        <img src="assets/images/icons/ym.svg" alt="market_icon">
                                    </picture>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer__copyright">
                    <span>© 2023 Urbicum</span>
                    <div class="footer__policy">Политика конфиденциальности</div>
                </div>
            </div>
            <div class="footer__bg">
                <picture>
                    <source media="(max-width: 640px)"
                            srcset="assets/images/footer-mobile2.webp">
                    <source srcset="assets/images/footer.webp">
                    <img src="assets/images/footer.png" alt="footer_bg">
                </picture>
            </div>
        </div>
    </div>
</footer>

<section class="modals">
    <div class="modal modal--details" data-modal-type="details" hidden>
        <div class="modal__content modal__content--details">
            <div class="modal__box modal__box--details">
                <button class="modal__close modal__close--details">
                </button>
                <div class="details__container">
                    <div class="details__left">
                        <div class="details__img">
                            <picture>
                                <source media="(max-width: 768px)"
                                        srcset="assets/images/products/d3-s.webp">
                                <source srcset="assets/images/products/d3-s.webp">
                                <img src="assets/images/products/d3-s.png" alt="products-d3">
                            </picture>
                        </div>
                    </div>
                    <div class="details__content">
                        <div class="details__top">
                            <div class="details__header">
                                <div class="details__title">Витамин D3 600МЕ</div>
                                <div class="details__quantity">
                                    <span>120 капсул</span>
                                </div>
                            </div>
                            <div class="details__controls">
                                <div class="details__prices">
                                    <div class="details__price">589 ₽</div>
                                    <div class="details__price--old">690 ₽</div>
                                </div>
                                <div class="details__wrapper">
                                    <button class="btn btn--fill btn--m" data-modal="thanks">Добавить в корзину</button>
                                    <div class="details__markets">
                                        <ul class="markets markets--details">
                                            <li class="market">
                                                <a href="">
                                                    <picture>
                                                        <source media="(max-width: 640px)"
                                                                srcset="assets/images/icons/oz-mini.svg">
                                                        <img src="assets/images/icons/oz.svg" alt="market_icon">
                                                    </picture>
                                                </a>
                                            </li>
                                            <li class="market">
                                                <a href="">
                                                    <picture>
                                                        <source media="(max-width: 640px)"
                                                                srcset="assets/images/icons/wb-mini.svg">
                                                        <img src="assets/images/icons/wb.svg" alt="market_icon">
                                                    </picture>
                                                </a>
                                            </li>
                                            <li class="market">
                                                <a href="">
                                                    <picture>
                                                        <source media="(max-width: 640px)"
                                                                srcset="assets/images/icons/ym-mini.svg">
                                                        <img src="assets/images/icons/ym.svg" alt="market_icon">
                                                    </picture>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="details__features">
                            <div class="details__feature">
                                <div class="details__feature-icon">
                                    <img src="assets/images/icons/skin.svg" alt="details-icon">
                                </div>
                                <div class="details__feature-text">
                                    Предотвращение фотостарения кожи
                                </div>
                            </div>
                            <div class="details__feature">
                                <div class="details__feature-icon">
                                    <img src="assets/images/icons/immunity.svg" alt="details-icon">
                                </div>
                                <div class="details__feature-text">
                                    Укрепление иммунной функции
                                </div>
                            </div>
                            <div class="details__feature">
                                <div class="details__feature-icon">
                                    <img src="assets/images/icons/tooth.svg" alt="details-icon">
                                </div>
                                <div class="details__feature-text">
                                    Прочность костей и зубов
                                </div>
                            </div>
                            <div class="details__feature">
                                <div class="details__feature-icon">
                                    <img src="assets/images/icons/brain.svg" alt="details-icon">
                                </div>
                                <div class="details__feature-text">
                                    Улучшение работоспособности
                                </div>
                            </div>
                        </div>
                        <div class="details__description">
                            <details class="details__details" open>
                                <summary class="details__summary">Описание</summary>
                                <span>
                                    Солнечный Витамин Д3 от Urbicum с дозировкой 600 МЕ - это незаменимый помощник в построении крепкого иммунитета современного городского жителя. Капсулированный D3 является активным компонентом сбалансированного питания для организма по причине выполнения им ряда жизненно важных функций -  усвоение кальция K2, для здоровье костей, зубов и мышц, защита щитовидки, укрепление иммунитета, что в свою очередь влияет на поддержание и сохранение естественной красоты и молодости человека. 

                                В отличие от солнечных ванн употребление витамина Д через биологически активные добавки для взрослых полностью безопасно - нет риска получить вредное УФ излучение кожи. Vitamin D бренда Urbicum показан для девушек и мужчин для профилактики выпадения волос, при нарушении сна, как дополнительная добавка для похудения, для поддержания красоты и улучшения настроения. Также D3 можно рассматривать как комплекс витаминов, которые подходят мужчинам  и женщинам при занятии спортом, в частности для восполнения энергии, улучшения работы мозга и памяти, для нормализации работы сердца и сосудов.

                                Дозировка 600МЕ подходит практически для любого возраста и при соблюдении рекомендаций БАД д3 не имеет побочных эффектов в отличие от дозировки такого же витамина д 2000 МЕ, 5000 МЕ и выше.

                                Холекальциферол в компактном объеме капсул усваивается так же хорошо как и в таблетках. Добавка произведена согласно техническим регламентам и соответствует требуемым стандартам качества.

                                Рекомендуемая профилактическая суточная доза витамина д 3 как для детей, так и для взрослых и пожилых людей варьируется от 400МЕ до 1000 единиц. Объема 120 капсул хватит на 3 месяца - рекомендуемый курс приема.

                                Легко усваиваемая форма витамина d3 может использоваться в сочетании с другими витаминами и минералами, такими, например, как омега 3 6 9 (рыбий жир), витамины А и С , цинк, биотин, коллаген.

                                Витаминные комплексы и БАДы Урбикум позволяют сохранить естественную красоту женщин и мужчин, работая изнутри. Линейка добавок к пище Urbicum направлена на поддержание внутреннего баланса красоты и молодости. Рекомендуем попробовать и другие БАДы и витамины Urbicum для комплексного подхода: Магний B6 для улучшения сна и снижения раздражительности, Коллаген для кожи, волос и ногтей, Мультивитамины для восполнения недостатка минералов и витаминов, Омега 3-6-9
                                </span>
                            </details>
                            <details class="details__details">
                                <summary class="details__summary">Полезные свойства:</summary>
                                <span>
                                    Солнечный Витамин Д3 от Urbicum с дозировкой 600 МЕ - это незаменимый помощник в построении крепкого иммунитета современного городского жителя. Капсулированный D3 является активным компонентом сбалансированного питания для организма по причине выполнения им ряда жизненно важных функций -  усвоение кальция K2, для здоровье костей, зубов и мышц, защита щитовидки, укрепление иммунитета, что в свою очередь влияет на поддержание и сохранение естественной красоты и молодости человека. 
                                </span>
                            </details>
                            <details class="details__details">
                                <summary class="details__summary">Характеристики</summary>
                                <span>
                                    Солнечный Витамин Д3 от Urbicum с дозировкой 600 МЕ - это незаменимый помощник в построении крепкого иммунитета современного городского жителя. Капсулированный D3 является активным компонентом сбалансированного питания для организма по причине выполнения им ряда жизненно важных функций -  усвоение кальция K2, для здоровье костей, зубов и мышц, защита щитовидки, укрепление иммунитета, что в свою очередь влияет на поддержание и сохранение естественной красоты и молодости человека. 

                                В отличие от солнечных ванн употребление витамина Д через биологически активные добавки для взрослых полностью безопасно - нет риска получить вредное УФ излучение кожи. Vitamin D бренда Urbicum показан для девушек и мужчин для профилактики выпадения волос, при нарушении сна, как дополнительная добавка для похудения, для поддержания красоты и улучшения настроения. Также D3 можно рассматривать как комплекс витаминов, которые подходят мужчинам  и женщинам при занятии спортом, в частности для восполнения энергии, улучшения работы мозга и памяти, для нормализации работы сердца и сосудов.

                                Дозировка 600МЕ подходит практически для любого возраста и при соблюдении рекомендаций БАД д3 не имеет побочных эффектов в отличие от дозировки такого же витамина д 2000 МЕ, 5000 МЕ и выше.

                                Холекальциферол в компактном объеме капсул усваивается так же хорошо как и в таблетках. Добавка произведена согласно техническим регламентам и соответствует требуемым стандартам качества.

                                Рекомендуемая профилактическая суточная доза витамина д 3 как для детей, так и для взрослых и пожилых людей варьируется от 400МЕ до 1000 единиц. Объема 120 капсул хватит на 3 месяца - рекомендуемый курс приема.

                                Легко усваиваемая форма витамина d3 может использоваться в сочетании с другими витаминами и минералами, такими, например, как омега 3 6 9 (рыбий жир), витамины А и С , цинк, биотин, коллаген.

                                Витаминные комплексы и БАДы Урбикум позволяют сохранить естественную красоту женщин и мужчин, работая изнутри. Линейка добавок к пище Urbicum направлена на поддержание внутреннего баланса красоты и молодости. Рекомендуем попробовать и другие БАДы и витамины Urbicum для комплексного подхода: Магний B6 для улучшения сна и снижения раздражительности, Коллаген для кожи, волос и ногтей, Мультивитамины для восполнения недостатка минералов и витаминов, Омега 3-6-9
                                </span>
                            </details>
                            <details class="details__details">
                                <summary class="details__summary">Рекомендации</summary>
                                <span>
                                    Солнечный Витамин Д3 от Urbicum с дозировкой 600 МЕ - это незаменимый помощник в построении крепкого иммунитета современного городского жителя. Капсулированный D3 является активным компонентом сбалансированного питания для организма по причине выполнения им ряда жизненно важных функций -  усвоение кальция K2, для здоровье костей, зубов и мышц, защита щитовидки, укрепление иммунитета, что в свою очередь влияет на поддержание и сохранение естественной красоты и молодости человека. 

                                В отличие от солнечных ванн употребление витамина Д через биологически активные добавки для взрослых полностью безопасно - нет риска получить вредное УФ излучение кожи. Vitamin D бренда Urbicum показан для девушек и мужчин для профилактики выпадения волос, при нарушении сна, как дополнительная добавка для похудения, для поддержания красоты и улучшения настроения. Также D3 можно рассматривать как комплекс витаминов, которые подходят мужчинам  и женщинам при занятии спортом, в частности для восполнения энергии, улучшения работы мозга и памяти, для нормализации работы сердца и сосудов.

                                Дозировка 600МЕ подходит практически для любого возраста и при соблюдении рекомендаций БАД д3 не имеет побочных эффектов в отличие от дозировки такого же витамина д 2000 МЕ, 5000 МЕ и выше.

                                Холекальциферол в компактном объеме капсул усваивается так же хорошо как и в таблетках. Добавка произведена согласно техническим регламентам и соответствует требуемым стандартам качества.

                                Рекомендуемая профилактическая суточная доза витамина д 3 как для детей, так и для взрослых и пожилых людей варьируется от 400МЕ до 1000 единиц. Объема 120 капсул хватит на 3 месяца - рекомендуемый курс приема.

                                Легко усваиваемая форма витамина d3 может использоваться в сочетании с другими витаминами и минералами, такими, например, как омега 3 6 9 (рыбий жир), витамины А и С , цинк, биотин, коллаген.

                                Витаминные комплексы и БАДы Урбикум позволяют сохранить естественную красоту женщин и мужчин, работая изнутри. Линейка добавок к пище Urbicum направлена на поддержание внутреннего баланса красоты и молодости. Рекомендуем попробовать и другие БАДы и витамины Urbicum для комплексного подхода: Магний B6 для улучшения сна и снижения раздражительности, Коллаген для кожи, волос и ногтей, Мультивитамины для восполнения недостатка минералов и витаминов, Омега 3-6-9
                                </span>
                            </details>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal--cart" data-modal-type="cart" hidden>
        <div class="modal__content modal__content">
            <div class="modal__box modal__box modal__box--cart">
                <button class="modal__close modal__close--fixed"></button>
                <div class="cart__container">
                    <div class="cart__title">Ваш заказ</div>
                    <div class="cart__wrapper">
                        <div class="cart__products">
                            <div class="cart__product">
                                <div class="cart__img">
                                    <picture>
                                        <source srcset="assets/images/products/d3-mini.webp">
                                        <img src="assets/images/products/d3-mini.png" alt="products-d3">
                                    </picture>
                                </div>
                                <div class="cart__box">
                                    <div class="cart__product-title">Капсулированный Витамин D3 600МЕ</div>
                                    <div class="cart__prices">
                                        <div class="cart__price">589 ₽</div>
                                        <div class="cart__price--old">690 ₽</div>
                                    </div>
                                    <div class="cart__quantity">
                                        <div class="cart__quantity-btn cart__quantity-btn--minus"></div>
                                        <div class="cart__quantity-input">1</div>
                                        <div class="cart__quantity-btn cart__quantity-btn--plus"></div>
                                    </div>
                                </div>
                                <button class="cart__delete"></button>
                            </div>
                            <div class="cart__product">
                                <div class="cart__img">
                                    <picture>
                                        <source srcset="assets/images/products/d3-mini.webp">
                                        <img src="assets/images/products/d3-mini.png" alt="products-d3">
                                    </picture>
                                </div>
                                <div class="cart__box">
                                    <div class="cart__product-title">Капсулированный Витамин D3 600МЕ</div>
                                    <div class="cart__prices">
                                        <div class="cart__price">589 ₽</div>
                                        <div class="cart__price--old">690 ₽</div>
                                    </div>
                                    <div class="cart__quantity">
                                        <div class="cart__quantity-btn cart__quantity-btn--minus"></div>
                                        <div class="cart__quantity-input">1</div>
                                        <div class="cart__quantity-btn cart__quantity-btn--plus"></div>
                                    </div>
                                </div>
                                <button class="cart__delete"></button>
                            </div>
                        </div>
                        <div class="promocode">
                            <form action="" class="promocode__form">
                                <!--                                <input type="hidden" name="action" value="promocode_remove">-->
                                <!--                                <input type="text" class="promocode__input" name="promocode"-->
                                <!--                                       value=""-->
                                <!--                                       placeholder="Промокод">-->
                                <!--                                <button type="submit" class="promocode__apply">Отменить</button>-->
                                <!--                                <?php else : ?>-->
                                <input type="hidden" name="action" value="promocode_apply">
                                <div class="input input-text input-text--promocode">
                                    <label>
                                        <input type="text" name="promocode" value="" placeholder="Промокод">
                                    </label>
                                </div>
                                <!--                                <button type="submit" class="promocode__apply">Применить</button>-->
                            </form>
                        </div>
                        <div class="cart__totals">
                            <div class="cart__totals-block cart__totals-qty">
                                <span>Позиций</span>
                                <p>2</p>
                            </div>
                            <div class="cart__totals-block cart__totals-discount">
                                <span>Скидка</span>
                                <p>-156 руб.</p>
                            </div>
                            <div class="cart__totals-block cart__totals-total">
                                <span>Сумма заказа</span>
                                <p>1178 руб.</p>
                            </div>
                        </div>
                        <div class="btn btn--fill btn--m cart__btn" data-modal="checkout">Перейти к оформлению</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal--checkout" data-modal-type="checkout" hidden>
        <div class="modal__content modal__content">
            <div class="modal__box modal__box--checkout">
                <button class="modal__close modal__close--fixed"></button>
                <div class="checkout__container">
                    <div class="checkout__title">Оформление заказа</div>
                    <div class="checkout__blocks">
                        <div class="checkout__info">
                            <div class="checkout__subtitle">Контактная информация</div>
                            <div class="checkout__inputs">
                                <div class="input input-text input-text--checkout">
                                    <label>
                                        <input type="text" name="name" value="" placeholder="Имя">
                                    </label>
                                </div>
                                <div class="input input-text input-text--checkout">
                                    <label>
                                        <input type="tel" name="phone" value="" placeholder="Телефон">
                                    </label>
                                </div>
                                <div class="input input-text input-text--checkout">
                                    <label>
                                        <input type="email" name="email" value="" placeholder="E-mail">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__delivery">
                            <div class="checkout__subtitle">Способ доставки</div>
                            <div class="checkout__methods">
                                <button class="checkout__method">Пункт выдачи</button>
                                <button class="checkout__method">Курьер</button>
                            </div>
                            <div class="checkout__search" hidden="">
                                <form action="">
                                    <div class="input input-text input-text--checkout">
                                        <label>
                                            <input type="text" name="search" value="" placeholder="Найти адрес">
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="checkout__address">
                                <div class="checkout__address-main">
                                    <div class="input input-text input-text--checkout">
                                        <label>
                                            <input type="email" name="email" value="" placeholder="Улица, дом">
                                        </label>
                                    </div>
                                </div>
                                <div class="checkout__address-details">
                                    <div class="checkout__address-detail">
                                        <div class="input input-text input-text--checkout">
                                            <label>
                                                <input type="text" name="apart" value="" placeholder="Квартира">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="checkout__address-detail">
                                        <div class="input input-text input-text--checkout">
                                            <label>
                                                <input type="text" name="entrance" value="" placeholder="Подъезд">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="checkout__address-detail">
                                        <div class="input input-text input-text--checkout">
                                            <label>
                                                <input type="text" name="floor" value="" placeholder="Этаж">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="checkout__address-detail">
                                        <div class="input input-text input-text--checkout">
                                            <label>
                                                <input type="text" name="intercom" value="" placeholder="Домофон">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__address-comment">
                                    <div class="input input-text input-text--checkout">
                                        <label>
                                            <textarea type="text" name="email" value=""
                                                      placeholder="Комментарий курьеру"></textarea>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__radios">
                                <div class="radio checkout__radio">
                                    <input type="radio" id="sdek" name="sdek" value="">
                                    <label for="sdek"> <span>CDEK</span> 300 руб.</label>
                                </div>
                                <div class="radio checkout__radio">
                                    <input type="radio" id="delline" name="delline" value="">
                                    <label for="delline"> <span>Деловые линии</span> 250 руб.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__map" hidden=""></div>
                    <button class="btn btn--fill btn--l checkout__btn" data-modal="thanks">Оформить заказ</button>
                    <div class="checkout__policy">Даю согласие на обработку персональных данных</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" data-modal-type="thanks" hidden>
        <div class="modal__content">
            <div class="modal__box modal__box--thanks">
                <button class="modal__close modal__close--fixed"></button>
                <div class="modal__container modal-thanks__container">
                    <div class="modal__icon">
                        <picture>
                            <source media="(max-width: 640px)"
                                    srcset="assets/images/icons/check-circle--mobile.svg">
                            <img src="assets/images/icons/check-circle.svg" loading="lazy" alt="check-circle">
                        </picture>
                    </div>
                    <div class="modal__title modal-thanks__title">
                        Ваш заказ <br class="br--mobile">успешно oформлен!
                    </div>
                    <div class="modal__subtitle modal__subtitle--thanks">
                        Детали заказа вы получите на указанный E-mail
                    </div>
                    <button class="btn btn--fill btn--m modal__close">Закрыть</button>
                </div>
                <div class="modal-thanks__img">
                    <picture>
                        <source srcset="assets/images/thanks-branch.webp">
                        <img src="assets/images/thanks-branch.png" alt="thanks-branch">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>

{{ function('wp_footer') }}

</body>
</html>
