<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Название сайта</title>

    {{ function('wp_head') }}
</head>
<body>

<header class="header header--pc">
    <div class="container">
        <div class="header__container">
            <div class="header__logo">Ubricum</div>
            <nav class="header__menu">
                <ul class="header__menu-items">
                    <li class="header__menu-item">
                        <a href="/index.html">Главная</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/catalog-page.html">Каталог</a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/index.html#reviews">Отзывы</a>
                    </li>
                    <li class="header__menu-item">Где купить</li>
                    <li class="header__menu-item">Контакты</li>
                </ul>
            </nav>
            <div class="header__cart" data-modal="cart">
                <div class="minicart">
                    <div class="minicart__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M12 0.75C9.30761 0.75 7.125 2.93261 7.125 5.625C7.125 6.03923 7.46078 6.375 7.875 6.375C8.28922 6.375 8.625 6.03923 8.625 5.625C8.625 3.76102 10.136 2.25 12 2.25C13.864 2.25 15.375 3.76102 15.375 5.625C15.375 6.03923 15.7108 6.375 16.125 6.375C16.5392 6.375 16.875 6.03923 16.875 5.625C16.875 2.93261 14.6924 0.75 12 0.75Z" fill="#050223"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04287 7.5C4.56627 7.5 3.30835 8.57348 3.07787 10.032L1.53719 19.782C1.24934 21.6036 2.65832 23.25 4.50222 23.25H19.4976C21.3416 23.25 22.7505 21.6036 22.4627 19.782L20.922 10.032C20.6915 8.57348 19.4336 7.5 17.957 7.5H6.04287ZM4.55948 10.2661C4.67465 9.53745 5.30345 9 6.04287 9H17.957C18.6964 9 19.3252 9.53745 19.4404 10.2661L20.9811 20.0161C21.1248 20.9259 20.4211 21.75 19.4976 21.75H4.50222C3.57875 21.75 2.87505 20.9259 3.0188 20.0161L4.55948 10.2661Z" fill="#050223"/>
                        </svg>
                    </div>
                    <div class="minicart__count">
                        <span>1</span>
                    </div>
                </div>
                <span>Корзина</span>
            </div>
        </div>
    </div>
</header>
<header class="header header--mobile">
    <div class="container">
        <div class="header__container">
            <div class="header__logo--mobile">Urbicum</div>
            <div class="header__burger">
                <div class="header__circle">
                    <img src="assets/images/icons/burger.svg" alt="burger">
                </div>
            </div>
        </div>
    </div>
</header>
